{% extends 'base.html' %}

{% block header %}
<h1><a href="{{ url_for('notebook.index') }}">{% block title %}{{ note['title'] }}{% endblock %}</a></h1>
{% endblock %}

{% block content %}
<article class="note">
    <header>
        <div class="about">by {{ note['username'] }} on {{ note['created'].strftime('%Y-%m-%d') }}</div>
        {% if g.user['id'] == note['author_id'] %}
        <a class="action" href="{{ url_for('notebook.update', id=note['id']) }}">Edit</a>
        {% endif %}
    </header>
    <div class="detail">{{ note['body'] | safe }}</div>
</article>
{% endblock %}