{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Notes{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for note in notes %}
{% if (g.user['id'] == note['author_id']) and (note['isPrivate'] == 1) %}
<article class="private">
    {% else %}
    <article class="note">
        {% endif %}
        <header>
            <div>
                <h1>
                    <a href="{{ url_for('notebook.detail', id=note['id']) }}">
                        {{ note['title'] }}</a>
                </h1>
                <div class="about">by {{ note['username'] }} on {{ note['created'].strftime('%Y-%m-%d') }}</div>
            </div>
            {% if g.user['id'] == note['author_id'] %}
            <a class="action" href="{{ url_for('notebook.update', id=note['id']) }}">Edit</a>
            {% endif %}
        </header>
        {% if note['isPrivate'] == 0 %}
        <p class="body">{{ note['body'] | safe }}</p>
        {% endif %}
    </article>
    {% if not loop.last %}
    <hr style="border-width:0.2em">
    {% endif %}
    {% endfor %}
    {% endblock %}