{% extends 'base.html' %}

{% block header %}
{% block title %}Notes{% endblock %}
{% endblock %}

{% block content %}
{% for note in notes %}
{% if (note['isPrivate']) %}
<article class="private">
    {% else %}
    <article class="note">
        {% endif %}
        <header>
            <div>
                <h1>
                    <a href="{{ url_for('notebook.detail', id=note['noteID']) }}">
                        {{ note['title'] }}</a>
                </h1>
                <div class="about">by {{ note['username'] }} on {{ note['created'].strftime('%Y-%m-%d') }}</div>
            </div>
            {% if g.user['userID'] == note['authorID'] %}
            <a class="action" href="{{ url_for('notebook.update', id=note['noteID']) }}">Edit</a>
            {% endif %}
        </header>
        {% if note['isPrivate'] == 0 %}
        <div class="body">{{ note['body'] | safe }}</div>
        {% endif %}
    </article>
    {% if not loop.last %}
    <hr class="note_hr" style="border-width:0.2em">
    {% endif %}
    {% endfor %}
    {% endblock %}