{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Notes{% endblock %}</h1>
{% endblock %}

{% block content %} 
    {% for note in notes %} 
        <article class="note">
            <header>
                <div>
                    <h1>
                    <a href="{{ url_for('notebook.detail', id=note['id']) }}">
                        {{ note['title'] }}</a></h1>
                    <div class="about">by {{ note['username'] }} on {{ note['created'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.user['id'] == note['author_id'] %} 
                    <a class="action" href="{{ url_for('notebook.update', id=note['id']) }}">Edit</a>
                {% endif %} 
            </header>
            <p class="body">{{ note['body'] |safe }}</p>
        </article>
            {% if not loop.last %} 
                <hr>
            {% endif %} 
        {% endfor %} 
    {% endblock %} 