{% extends 'base.html' %}

{% block header %}
{% block title %}View Tasks{% endblock %}
{% endblock %}


{% block content %}
{% for task in tasks %}
{% set due = task['dueDate'] %}
{% if (task['isPrivate']) %}
<article class="private">
    {% else %}
    <article class="task">
    {% endif %} 
    <h1>
        <div class="due">Due: 
            {% if due - now < soon %}
            <span class="deadlineSoon">
            {% else %} 
            <span class="notYet">
                {% endif %}
                {{ task['dueDate']}}</span>  
            </div>
    </h1>
        <div><a class="action" href="{{ url_for('notebook.task_update', id=task['taskID']) }}">Edit</a></div>
        
    <div>
        <p class="body">{{ task['todo'] | safe }}</p>
    </div>
</article>
{% endfor %}
{% if not loop.last %}
    <hr class="note_hr" style="border-width:0.2em" color="lavender">
    {% endif %}
{% endblock content %}
