<!doctype html>
<script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
    </script>
{{ moment.include_moment() }}

<title>{% block title %}HOLDS{% endblock %} - NoteTasker</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <h1>
        <a href="{{ url_for('notebook.landing') }}">Landing</a>
        <a href="{{ url_for('notebook.index') }}">NoteTaker </a>
        <a href="{{ url_for('notebook.tasking') }}"> TaskMaker</a>
    </h1>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
    </ul>
</nav>
{% if g.user %}
<div>
    <nav class="nav2"><a class="action" href="{{ url_for('notebook.create') }}">Take Note</a>
        <a class="action" href="{{ url_for('notebook.make_task') }}"> Make Task</a>
    </nav>
</div>
{% endif %}
<section class="content">
    <header>
        <h2>
            {% block header %}{% endblock %}
        </h2>
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

<section class="footer">
    {% block footer %}
    {% if g.user %} 
    <div class="secret">
        <a class="secret" style="color:firebrick; opacity:0.4;" href="{{ url_for('notebook.private') }}"> ..shh </a>
    </div>
    {% endif %}
    {% endblock %}
</section>