{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New {{ item.title() }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div>
        <label for="private">Private?</label>
        <input name="private" type="checkbox" id="private">
    </div>
    {% if item == 'task' %}
    <label for="due">Due Date</label>
    <input class="duedate" name="due" type="date" id="due">
    {% endif %}
    {% if item == 'note' %}

    {% endif %}
    <label for="{{ item }}">{{ item.title() }}</label>
    <textarea name="todo" id="todo">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
</form>
{% endblock %}