{% extends 'base.html' %}

{% macro display_entry(class, ref) -%}

{%- endmacro %} 

{% block content %} 
{% for note in notes %}
<article class="note">
    <h1>
        {{ note['title'] }}
    </h1>
    </div>
    <p class="body">{{ note['body'] | safe }}</p>
</article>
{% for task in tasks %} 
<article class="note">
<div class="due">Due: {{ task['dueDate'] }}</div>
<p>{{ task['todo'] | safe }} </p>
</article>
{% endfor %}


<hr class="note_hr"></hr>

{% endfor %}
{% endblock %} 

{% block footer %}

{% endblock %}