{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}View Notes{% endblock %}</h1>
{% endblock %}


{% block content %}
{% for note in notes %}
<article class="note">
    <h1>
        <div>
            {{ note['title'] }}
        </div>
    </h1>
    <div class="about">by {{ note['username'] }} on {{ note['created'].strftime('%Y-%m-%d') }}</div>
    <div>
        <p class="body">{{ note['body'] | safe }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}

{% block footer %}{% endblock %}