{% extends 'base.html' %}

{% block title %}Public Viewing {% endblock %} 
{% block content %} 
{% for note in notes %}
<article class="note">
    <h1>
        {{ note['title'] }}
    </h1>
    </div>
    <p class="body">{{ note['body'] | safe }}</p>
</article>
{% if not loop.last %}
    <hr class="note_hr" style="border-width:0.2em">
    {% endif %}
{% endfor %}

{% for task in tasks %} 
{% set due = task['dueDate'] %}
<article class="note">
    <div class="due">Due: 
        {% if due - now < soon %}
        <span class="deadlineSoon">
        {% else %} 
        <span class="notYet">
            {% endif %}
            {{ task['dueDate']}}</span>
            
    </div>
<p>{{ task['todo'] | safe }} </p>
</article>
{% if not loop.last %}
    <hr class="note_hr" style="border-width:0.2em">
    {% endif %}
{% endfor %}
{% endblock %} 

{% block footer %}
{% endblock %}