html {
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  font-weight: 300;
  background: #eee;
  padding: 1rem;
}

body {
  @media screen and (mind-width: 800px) {
    .container {
      max-width: 0.6rem
    }
  }

  max-width: 960px;
  margin: 0 auto;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  display: flex;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #275b7d;
}

hr {
  border: none;
  height: 0.15em;
}

.priv_hr {
  color: firebrick;
  background-color: firebrick;
}

.note_hr {
  color: burlywood;
  background-color: rgb(141, 172, 80);
}


nav {
  background: rgb(173, 172, 172);
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
  align-items: left;
  padding: 0.2rem;
}

.container {
  display: flex;
  flex: auto;
  justify-content: left;
  align-items: baseline;
  padding: 0 2em 0.2em
}

.content {
  padding: 0 1rem 1rem;
}

.content>header {
  border-bottom: 1px solid whitesmoke;
  display: flex;
  align-items: flex-end;
}

.content>header h1 {
  flex: intial;
  column-gap: 2rem;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post>header {
  display: flex;
  align-items: baseline;
  font-size: 0.8em;
}

.private {
  background: antiquewhite;
  color: midnightblue;
  opacity: 0.84;
  font-weight: 300;
  padding: 0.3em 0.8em;
}

.note {
  background-color: gainsboro;
}

.note>header>div:first-of-type {
  padding: 0.3em 0.8em;
}

.note>header h1 {
  font-size: 1.2em;
  align-items: baseline;
  margin-bottom: 0;
}

.note .about {
  color: slategray;
  font-style: italic;
  font-size: 0.75em;
  justify-content: flex-start;
  padding: 0.2rem
}

.note .body {
  white-space: pre-line;
}

.detail {
  font-size: 1.6rem
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  align-items: left;
  flex: auto;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
  flex: initial;
  flex-direction: row;
}

[type="checkbox"] {
  align-self: flex-start;
}


.content input,
.content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 18em;
  resize: both;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 6em;
}

.footer {
  display: flex;
  color: firebrick;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.3em 1.1em 0.2em;
  align-content: flex-start;
}

.secret {
  display: flex;
  flex: auto;
  justify-content: flex-end;
}